
body{
    font-family: "moby", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(58, 57, 57);

    font-size: 1em;
}
h1{
border: double black 0.2rem;
width:fit-content;
padding: 10px;
}
img{
    width: 10%;
}
.module1{
    display: flex;
    width: 100vw;

}
.fullkeypad{
    width: 30%;

    border: solid black 0.2rem;
}
.invoerbox{
    
    justify-content: center;   
    width: 20%;
    border: double black 0.1rem;
    margin: auto;
    height: fit-content;
    background-color: rgb(115, 116, 116);
}
.invoerveld{
    display: flex;
    justify-content: space-around;
    
}

.vormnumpad{
    display: flex;
}
.numpad{
    display: table-row;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

h2{
    font-family: "moby", sans-serif;
font-weight: 400;
font-style: normal;

border: double black 0.3rem;
width:fit-content;
}


.toprow, .middlerow, .bottomrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    width: 130%;
}
.numPad0box{
    display: flex;
    justify-content: center;
    width: 130%;
}
.buttons{
    margin: 0;
}




.kaboom{
 background-color: red;
}

/* nummer hoversstates */
.numPad1:hover{
    transform: scale(1.1);
}
.numPad2:hover{
    transform: scale(1.1);
}
.numPad3:hover{
    transform: scale(1.1);
}
.numPad4:hover{
    transform: scale(1.1);
}
.numPad5:hover{
    transform: scale(1.1);
}
.numPad6:hover{
    transform: scale(1.1);
}
.numPad7:hover{
    transform: scale(1.1);
}
.numPad8:hover{
    transform: scale(1.1);
}
.numPad9:hover{
    transform: scale(1.1);
}
.numPad0:hover{
    transform: scale(1.1);
}
/* nummer hoversstates */

/* color statea */

.green{
    color: green;
}

.orange{
    color: orange;
}
.red{
    color: red;
}

/* color statea */

section p{
    margin: 0;
}

/* Feedback menu */
.feedbacklog{
    display: flex;
    flex-direction: column;
    border: solid black 0.2rem;
    width: 108px;
    height: fit-content;
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.5em;
    margin-left: 3%;
}
.feedbacklog div{
    display: flex;
    flex-direction: row;
    margin: auto;
}

button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transform: scale(0.5);

}

button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

button:after {
  background-color: #FFFFFF;
}

button span {
  z-index: 1;
  position: relative;
}


/* /////////////////////////////////////Wires//////////////////////// */

.slot1img, .slot2img, .slot3img, .slot4img{
    width: 30%;
}
.module2{
    display: flex;
}
.hintmenu p{
    width: 30%;
}
.obstructModule{
    display: none;
}

.groen{
    color: green;
}
.rood{
    color: red;
}
.blauw{
    color: blue;
}
.zwart{
    color: #000000;
}
/* /////////////////////////////////////Wires//////////////////////// */